@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

.nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #1d2023;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
  gap: 10px;
  cursor: pointer;
}

.logo-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}

.logo h1 {
  color: #5ECD81;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.logo h3 {
  color: #fefefe;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  letter-spacing: 4px;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  margin-right: 150px;
}

.navbar-links a {
  color: #fefefe;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  margin-right: 30px;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s ease-in-out;
}

.navbar-links a:hover {
  transform: scale(1.05);
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: #5ECD81;
}
